@font-face {
    src: local('Indie Flower');
}

.title {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 60px;
}

Text {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
}

.profileSelectButton:hover .profileSelectArrow {
    -fx-fill: grey;
    -fx-cursor: hand;
}

.resultText {
    -fx-font-size: 38px;
    -fx-fill: red;
}

.statisticsPane Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 33px;
}

.preGameBody Label {
    -fx-font-family: "Indie Flower";
}

.preGameBody #category {
    -fx-font-size: 45px;
}

.preGameBody #prompt {
    -fx-font-size: 38px;
}

.preGameBody .difficultySettings {
    -fx-font-size: 30px;
}

.gameBody Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 30px;
}

.gameBody .subHeading {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 38px;
}

.gameBody TextArea {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 28px;
    -fx-background-color: transparent;
}

.gameBody TextArea .text {
    -fx-line-spacing: 0.175em;
}

.gameBody TextArea .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.gameBody TextArea .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.gameBody TextArea .scroll-pane .content {
    -fx-background-color: transparent;
}


.postGameBody .title {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 60px;
}

.postGameBody Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
}

.wordsHistory Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 38px;
    -fx-background-color: transparent;
}

.wordsHistory TextArea {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 28px;
    -fx-background-color: transparent;
}

.wordsHistory TextArea .text {
    -fx-line-spacing: 0.17em;
}

.wordsHistory TextArea .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.wordsHistory TextArea .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.wordsHistory TextArea .scroll-pane .content {
    -fx-background-color: transparent;
}

.difficultySettings .infoPane {
    -fx-border-color: rgb(198, 198, 198);
    -fx-background-color: rgb(243, 243, 243);
    -fx-border-width: 1;

}

.difficultySettings TextArea {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 25px;
    -fx-background-color: transparent;
}

.difficultySettings TextArea .text {
    -fx-line-spacing: 0.05em;
}

.difficultySettings TextArea .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.difficultySettings TextArea .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.difficultySettings TextArea .scroll-pane .content {
    -fx-background-color: transparent;
}

Button {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
    -fx-background-color: none;
    -fx-padding: 0;
}

TextField {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
    -fx-padding: 0;
    -fx-background-color: none;
    -fx-border-width: 0;
}

Button:hover {
    -fx-text-fill: grey;
    -fx-cursor: hand;
}

.background {
    -fx-background-image: url("../images/background_image.png");
    -fx-background-size: 100% 100%;
}