@font-face {
    src: local('Indie Flower');
}

.title {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 60px;
}

Text {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
}

.profileSelectButton:hover .profileSelectArrow {
    -fx-fill: grey;
    -fx-cursor: hand;
}

.resultText {
    -fx-font-size: 38px;
    -fx-fill: red;
}

.statisticsPane Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 33px;
}

.preGameBody {
    -fx-background-image: url("../images/background-nonHidden.png");
    -fx-background-size: 100% 100%;
}

.preGameBody Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
}

.preGameBody #category {
    -fx-font-size: 35px;
    -fx-line-spacing: -0.09em;
}

.preGameBody #prompt {
    -fx-font-size: 40px;
}

.preGameBody .settings {
    -fx-font-size: 30px;
}

.gameBody Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 30px;
}

.gameBody .subHeading {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 38px;
}

.gameBody TextArea {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 28px;
    -fx-background-color: transparent;
}

.gameBody TextArea .text {
    -fx-line-spacing: 0.175em;
}

.gameBody TextArea .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.gameBody TextArea .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.gameBody TextArea .scroll-pane .content {
    -fx-background-color: transparent;
}

#colour-picker {
    -fx-background-color: transparent;
    -fx-color-label-visible: false;
}

.postGameBody {
    -fx-background-image: url("../images/background-main.png");
    -fx-background-size: 100% 100%;
}

.postGameBody .title {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 60px;
}

.postGameBody Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
}

.wordsHistory Label {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 38px;
    -fx-background-color: transparent;
}

.wordsHistory TextArea {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 28px;
    -fx-background-color: transparent;
}

.wordsHistory TextArea .text {
    -fx-line-spacing: 0.17em;
}

.wordsHistory TextArea .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.wordsHistory TextArea .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.wordsHistory TextArea .scroll-pane .content {
    -fx-background-color: transparent;
}

.settings .infoPane {
    -fx-border-color: rgb(198, 198, 198);
    -fx-background-color: rgb(243, 243, 243);
    -fx-border-width: 1;
}

.settings .infoPane TextArea {
    -fx-font-size: 24px;
}

.settings TextArea {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 25px;
    -fx-background-color: transparent;
}

.settings TextArea .text {
    -fx-line-spacing: 0.05em;
}

.settings TextArea .scroll-pane {
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
}

.settings TextArea .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.settings TextArea .scroll-pane .content {
    -fx-background-color: transparent;
}

.settings Slider .track {
    -fx-background-radius: 0;
    -fx-pref-height: 8px;
    -fx-border-color: rgb(198, 198, 198);
    -fx-background-color: rgb(243, 243, 243);
    -fx-effect: null;
}

.settings Slider .thumb {
    -fx-pref-height: 20px;
    -fx-pref-width: 10px;
    -fx-background-radius: 0;
    -fx-border-color: rgb(198, 198, 198);
    -fx-background-color: rgb(243, 243, 243);
    -fx-effect: null;
}

.settingsType Button:hover {
    -fx-text-fill: black;
}

Button {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
    -fx-background-color: none;
    -fx-padding: 0;
}

TextField {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
    -fx-padding: 0;
    -fx-background-color: none;
    -fx-border-width: 0;
}

Button:hover {
    -fx-text-fill: grey;
    -fx-cursor: hand;
}

CheckBox {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 45px;
}

Checkbox:hover {
    -fx-cursor: hand;
}

CheckBox .box {
    -fx-background-color: rgb(243, 243, 243);
    -fx-border-color: rgb(198, 198, 198);
    -fx-padding: 1px;
}

CheckBox .box .mark {
    -fx-padding: 10px;
}

.backgroundMain {
    -fx-background-image: url("../images/background-main.png");
    -fx-background-size: 100% 100%;
}

.backgroundBlank {
    -fx-background-image: url("../images/background-blank.png");
    -fx-background-size: 100% 100%;
}

.backgroundDifficulty {
    -fx-background-image: url("../images/background-difficulty.png");
    -fx-background-size: 100% 100%;
}

.backgroundStatistics {
    -fx-background-image: url("../images/background-stats.png");
    -fx-background-size: 100% 100%;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.definition {
    -fx-font-family: "Indie Flower";
    -fx-font-size: 28px;
}